#bold {
    font-weight: 900;
}
h1 {
    font-weight: 500;
}

body {
    background-color: black;
    
}
a {
    text-decoration: none;   
}
a:visited {
    color: white;
}
.container  {
    display: flex;
    justify-content: center;
}
div {
 
    
}
.hero-text {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #2BCDC0;
    
    color: white;
    font-size: 3em;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "left mid right"
    "left2 mid2 right2"
    "ipsumL ipsumM ipsumR";
  }
   .left { 
      grid-area: left;
      width: 90%;
      height: 50%;
      text-align: center;
      border: 2px solid greenyellow;
  } 
  .left2 {
    grid-area: left2;
    width: 90%;
    height: 50%;
    text-align: center;
    border: 2px solid greenyellow; */
  }
   .mid {
      grid-area: mid;
    width: 90%;
    height: 20%;
    text-align: center;
    border: 2px solid greenyellow;
}
.right {
    grid-area: right;
    width: 90%;
    height: 20%;
    text-align: center;
    border: 2px solid greenyellow;
} 
#blue {
    grid-area: left2;
    background-color: blue;
    
}
#orange {
    grid-area: mid;
    background-color: orange;
}
#turq {
    grid-area: right;
    background-color: turquoise;
}
.ipsumL {
    grid-area: ipsumL;
    width: 90%;
    
    background-color: aliceblue;
}
.ipsumM {
    grid-area: ipsumM;
    width: 90%;
    
    background-color: aliceblue;
}
.ipsumR {
    grid-area: ipsumR;
    width: 90%;
    
    background-color: aliceblue;
}