#bold {
    font-weight: 900;
}
h1 {
    font-weight: 500;
}

body {
    background-color: black;
}
.container  {
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:white;
}
.hero-text {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #2BCDC0;
    
    color: white;
    font-size: 3em;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "left mid right"
    "left mid right"
    "ipsum ipsum ipsum";
  }
  .left {
      width: 90%;
      height: 100%;
      text-align: center;
      border:solid 5px white;
  }
  .mid {
    width: 90%;
    height: 100%;
    text-align: center;
    border:solid 5px white;
}
.right {
    width: 90%;
      height: 100%;
      text-align: center;
      border:solid 5px white;
}
#blue {
    grid-area: left;
    background-color: blue;
}
#orange {
    grid-area: mid;
    background-color: orange;
}
#turq {
    grid-area: right;
    background-color: turquoise;
}
.ipsum {
    grid-area: ipsum;
}